<div class="row " style="margin-bottom: 50px;margin-top: 50px">
	<div class="col-md-12 text-center">
		<%= form_tag("/ara", method: "get" , class:'form-inline') do %>
		  <div class="form-group">	
			  <%= text_field_tag :query_term , params[:query_term] , class:"form-control" %>
			  <%= submit_tag "Ara" , class: 'btn btn-primary' %>
		  </div>
		<% end %>
	</div>
</div>

<% if @results %>

	<% total_result =  @results['response']['numFound']%>

	<% docs = @results['response']['docs']%>
	<% facet_categories = @results['facet_counts']['facet_fields']['category']%>
	
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group">
		  		<li class="list-group-item active">
		    		<span class="badge"> <%= total_result %></span>
		    		Toplam sonuç sayısı:
		  		</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<% (0..(facet_categories.size-1)).step(2) do |n| %>
				<% category_name = facet_categories[n ] %>
				<% number = facet_categories[n + 1 ]%>
				<% if number > 0 %>
					<a href= <%=ara_path(query_term: params[:query_term], start: params[:start] ,facet_category: category_name ) %> > 
					<button class="btn btn-success" type="button"> <%=facet_categories[n]%>  <span class="badge"><%= facet_categories[n + 1 ] %></span></button> </a>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<th>#</th>
				<th>ID</th>
				<th>Category</th>
				<th>Content</th>
				
				<% docs.each_with_index do |doc , index| %>
					<% id = doc['id'] %>
					<% content = doc['content'].force_encoding('utf-8') %>
					<% category = doc['category'].pop.titleize %>
					<tr>
						<td> <strong> <%= index + params[:start].to_i + 1 %> </strong> </td>
						<td> <%= id%> </td>
						<td> <%= category %> </td>
						<td> <p class="lead"> <%= truncate(content, length: 350, separator: " " )%> </p> </td>
					</tr>
				<% end %>
			
			</table>
		</div>
	</div>

	<div class="row">
		<% page_number = total_result / 10 %>
		<% page_number = page_number + 1 if (total_result % 10) > 0  %>
		<div class="col-md-12 text-center">
				
			<nav>
			  <ul class="pagination">
			  	<%for i in 0...page_number%>
				    <% start = i * 10%>
				    <% if (i) == (params[:start].to_i) / 10%>
			    		<li class="active"><%= link_to (i + 1) , ara_path(query_term: params[:query_term], start: start, facet_category: params[:facet_category]) %></li>
			    	<% else %>
			    		<li><%= link_to (i + 1) , ara_path(query_term: params[:query_term], start: start,facet_category: params[:facet_category]) %></li>
			    	<% end %>
			    <% end%>
	  		   </ul>
	        </nav>
		</div>
	</div>
<% end %>